// Font

$font-main: "PT Mono", "Arial", sans-serif;
$font-title: "Roboto Condensed", "Arial", sans-serif;
$font-logo: "Roboto", "Arial", sans-serif;


// Colors

$white: #ffffff;
$bg-black: #1b2d37;
$blue: #00b2ff;
$gray: #788891;
$text-gray:  #666666;

// Viewports

$min-desktop-whidth: 1024px;
$min-tablet-whidth: 768px;
$max-tablet-whidth: 1023px;
$min-mobile-whidth: 320px;
$max-mobile-whidth: 767px;
