// Font

$font-main: "PT Mono", "Arial", sans-serif;
$font-title: "Roboto Condensed", "Arial", sans-serif;
$font-logo: "Roboto", "Arial", sans-serif;


// Colors

$white: #ffffff;
$bg-black: #1b2d37;
$blue: #00b2ff;
