// Font

$font-main: "PT Mono", "Arial", sans-serif;
$font-title: "Roboto Condensed", "Arial", sans-serif;
$font-logo: "Roboto", "Arial", sans-serif;

// Colors

$white: #ffffff;
$modal-black: rgba(0, 0, 0, 0.5);
$callback-white: rgba(255, 255, 255, 0.2);
$callback-hover: rgba(255, 255, 255, 0.3);
$bg-black: #1b2d37;
$hover-black: #121e25;
$dark-gray: #203c42;
$blue: #00b2ff;
$gray: #788891;
$border-gray: #ebebeb;
$text-gray: #666666;
$toggle-gray: #c4c4c4;
$link-gray: rgba(11, 18, 22, 0.5);
$footer-border-gray: #626962;
$form-background: #40b9ff;

// Viewports

$min-desktop-whidth: 1024px;
$min-tablet-whidth: 768px;
$max-tablet-whidth: 1023px;
$min-mobile-whidth: 320px;
$max-mobile-whidth: 767px;
